@import 'abstract/mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //outline: red 1px solid;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "ONEDAY";
    src: url('font/ONEDAY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes scale {
    0% {
        transform: translateY(-1px);
    }
    33% {
        transform: translateY(-2px);
    }
    66% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(-4px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

body {
    font-family: 'PT Sans', sans-serif;
    display: grid;
    height: auto;
    grid-template-columns: 80px repeat(5, 1fr) 40px;
    grid-template-rows: repeat(8, 1fr);
    column-gap: 24px;
    @include m {
        column-gap: 8px;
        grid-template-columns: 32px 1fr 32px;
        grid-template-rows: calc(100vh - 80px) 80px 1fr;
    }
}

header {
    height: 100vh;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    @include m {
        height: 100%;
        width: 100vw;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .navbar {
        
        background-color: #fff;
        display: flex;
        //justify-content: space-between;
        width: 80px;
        height: 100%;
        flex-direction: row;
        font-family: 'ONEDAY';
        box-shadow: 10px 0px 20px rgba(51, 51, 51, 0.25);
        writing-mode: vertical-lr;
        text-orientation: upright;
        align-items: center;
        position: fixed;
        overflow: hidden;
        @include m {
            height: 80px;
            width: 100%;
            writing-mode: horizontal-tb;
            transform: rotate(-180deg);
            justify-content: space-evenly;
        }

        .toTheBottom {
            margin-top: auto;
            margin-bottom: 24px;

            @include m {
                margin: 0;
                margin: 5%;
            }
        }

        .burgerMenu {
            margin-top: 24px;
            cursor: pointer;
            transition: transform 650ms;

            span {
                font-size: 36px;
            }

            &.open {
                transform: rotate(90deg);
            }
            @include m {
                display: none;
            }
        }
        
    
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            opacity: 0.2;
            transform: translateX(-50px);
            transition: transform 650ms;
            @include m {
                transform: translateX(0);
                opacity: 0.8;
            }

            &.open {
                transform: translateX(0);
            }
    
            li {
                cursor: pointer;
                margin-top: 40px;

                @include m {
                    margin-top: 0;
                    font-size: 12px;
                }
            }
        }

        a {
            margin-top: 40px;
            
            display: flex;
            text-orientation: sideways-right;
            transform: rotate(180deg);
            text-decoration: none;
            color: #00000a;
            

            span {
                font-size: 24px;

                @include m {
                    font-size: 12px;
                }
            }
            

            .prenom {
                color: #999;
            }

            @include m {
                text-orientation: upright;
                margin-top: 0;
                margin-right: 15%;
            }
        }
    }
}

.homepage {
    grid-column: 2 / 7;
    grid-row: 1 / 5;
    height: 95%;
    width: 90%;
    justify-self: flex-end;
    align-self: center;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    @include sl {
        width: 100%;
        height: 100%;
    }

    @include m {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        overflow: hidden;
        
        display: flex;
        justify-content: center;
        
    }

    p {
        white-space: nowrap;
        font-size: 42px;
        font-family: 'ONEDAY';
    }

    .text {
        display: flex;
        position: relative;
        z-index: 2;
        left: 205px;
        @include m {
            display: none;
        }
    }

    .highlight {
        color: #fffffa;
    }

    .image {
        display: flex;
        width: 100%;
        height: 80%;
        overflow: hidden;
        border-radius: 12px;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        z-index: 1;
        background-image: url("img/AudioAPP.PNG");
        background-repeat: no-repeat;
        background-position: center;
        filter: drop-shadow(0px 15px 30px rgba(51, 51, 51, 0.25));
        box-shadow: 0px 15px 30px rgba(51, 51, 51, 0.25);
        @include m {
            position: static;
            justify-content: center;
        }
    }

    img {
        height: 100%;
    }

    .square {
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fffffa;
        border-radius: 10px;
        margin: 1%;
        

        &.rightArr {
            margin-right: 4%;
        }

        

        img {
            width: 48px;
            height: 48px;
        }
    }

    .jumpTo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0px 5px 10px rgba(77, 77, 77, 0.25);
        text-decoration: none;
        color: black;
        animation: scale 850ms infinite;
    }
    
}

.presentation {
    grid-column: 2 / 7;
    grid-row: 5 / 9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/perso/20200925_171537-removebg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-items: center;
    @include m {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        height: 100vh;
        margin-bottom: 80px;
    }

    img {
        width: 700px;
        
    }

    .firstText {
       width: 40%;
       height: 21%;
       border-radius: 10px;
       box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
       background-color: white;
       display: flex;
       flex-direction: column;
       font-size: 42px;
       line-height: 54px;
       text-align: center;
       margin-top: 2%;
       align-self: flex-start;
       margin-left: 6%;
       justify-content: center;
       @include xxl {
           margin-left: 3%;
       }

       @include xl {
            margin-left: 1%;
            font-size: 24px;
        }
        @include l {
            width: 50%;
            font-size: 16px;
        }
        @include m {
            align-self: center;
            margin-left: 0;
            width: 80%;
            line-height: 32px;
        }
    }

    .secondText {
        width: 23%;
       height: 25%;
       border-radius: 10px;
       box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
       background-color: white;
       display: flex;
       flex-direction: column;
       font-size: 42px;
       line-height: 54px;
       text-align: center;
       margin-top: 2%;
       align-self: flex-end;
       margin-right: 21%;
       justify-content: center;
       @include xxl {
            margin-right: 18%;
        }

        @include xl {
            height: 20%;
            margin-right: 11%;
            font-size: 24px;
        }
        @include l {
            width: 40%;
            font-size: 16px;
        }
        @include m {
            align-self: center;
            margin-right: 0;
            width: 80%;
            line-height: 32px;
        }
    }

    .thirdText {
        width: 30%;
       height: 23%;
       border-radius: 10px;
       box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.25);
       background-color: white;
       display: flex;
       flex-direction: column;
       font-size: 42px;
       line-height: 54px;
       text-align: center;
       margin-top: 2%;
       align-self: flex-start;
       margin-left: 10%;
       justify-content: center;
       @include xxl {
            margin-left: 5%;
        }

        @include xl {
            height: 20%;
            margin-left: 3%;
            font-size: 24px;
        }
        @include l {
            width: 50%;
            font-size: 16px;
        }
        @include m {
            align-self: center;
            margin-left: 0;
            width: 80%;
            line-height: 32px;
        }
    }

    .forthText {
        width: 23%;
       height: 25%;
       border-radius: 10px;
       box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.25);
       background-color: white;
       display: flex;
       flex-direction: column;
       font-size: 42px;
       line-height: 54px;
       text-align: center;
       margin-top: 2%;
       align-self: flex-end;
       margin-right: 10%;
       justify-content: center;
       @include xxl {
            margin-right: 18%;
        }

        @include xl {
            height: 20%;
            margin-right: 11%;
            font-size: 24px;
        }
        @include l {
            width: 40%;
            font-size: 16px;
        }
        @include m {
            align-self: center;
            margin-right: 0;
            width: 80%;
            line-height: 32px;
        }
    }
}

.project {
    font-family: 'PT Sans', sans-serif;
    display: grid;
    height: auto;
    grid-template-columns: 80px 1fr 32px;
    grid-template-rows: 140px 1fr 130px;
    column-gap: 90px;
    @include m {
        column-gap: 8px;
        grid-template-columns: 32px 1fr 32px;
        grid-template-rows: 80px calc(100vh - 160px) 80px;
    }
    

    header {
        height: 100vh;
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        @include m {
            height: 100%;
            width: 100vw;
            grid-column: 1 / 3;
            grid-row: 3 / 4;
        }
    }

    .projectTitle {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: flex-end;
        justify-self: flex-start;
        margin: 1%;
        font-family: 'ONEDAY';

        @include m {
            align-self: start;
            padding: 5%;
        }
    }

    .projectAnnounce {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        height: 100%;
        width: 100%;
        justify-self: flex-end;
        align-self: center;
        display: flex;
        align-items: center;
        padding-left: 4%;
        @include sl {
            flex-wrap: wrap-reverse;
            overflow: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            padding: 0;
            justify-content: center;
            justify-self: normal;
            align-self: normal;
        }
        @include m {
            //height: calc(var(--vh, 1vh) * 100 - 80px);
            grid-row: 2/3;
            
            
            
            margin-top: 5%;
            
            
        }


        .explanation {
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.25);
            border-radius: 10px;
            width: 70%;
            height: 92%;
            padding: 2%;
            display: flex;
            flex-direction: column;

            @include sl {
                width: 95%;
                height: auto;
                order: -1;
                margin-top: 5%;
                box-shadow: 0px 10px 10px rgba(51, 51, 51, 0.25);
            }

            a {
                text-decoration: underline dotted grey;
                color: black;
            }

            p {
                font-family: 'PT Sans', sans-serif;
                white-space: normal;
                word-wrap: break-word;
                font-size: 24px;
                line-height: 31px;
                margin: 16px 0;

                @include m {
                    font-size: 16px;
                }

            }
            
        }

        .separation {
            width: 0;
            height: 100%;
            border: 1px solid black;
            margin: 0 1%;
            position: relative;
            left: -40px;
            z-index: -1;
            @include sl {
                display: none;
            }
            
        }

        .bgi {
            border-radius: 10px;
            height: 100%;
            width: 40%;
            background-image: url(img/AudioAPP.PNG);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            left: -40px;
            z-index: -1;
            @include sl {
                height: 45%;
                width: 95%;
                order: 0;
                position: static;
            }
        }

        .square {
            height: 48px;
            width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fffffa;
            border-radius: 10px;
            margin: 1%;
            
        }

        .jumpTo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 5px 10px rgba(77, 77, 77, 0.25);
            text-decoration: none;
            color: black;
            transform: rotate(-90deg);
            cursor: pointer;
            //animation: scale 850ms infinite;
            @include m {
                order: -2;
                margin: 40px 0;
            }
        }
    }

}

.competence {
    font-family: 'PT Sans', sans-serif;
    display: grid;
    height: auto;
    grid-template-columns: 80px 1fr 32px;
    grid-template-rows: 100px 1fr 130px;
    column-gap: 90px;
    @include m {
        column-gap: 8px;
        grid-template-columns: 32px 1fr 32px;
        grid-template-rows: calc(100vh - 80px) 80px;
    }
    

    header {
        height: 100vh;
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        @include m {
            height: 100%;
            width: 100vw;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            z-index: 2;
        }
    }

    .projectTitle {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: block;
        align-self: flex-end;
        justify-self: flex-start;
        margin: 0 1%;
        font-family: 'ONEDAY';
        font-size: 42px;
        font-weight: 400;
        @include m {
            display: none;
        }
    }

    .separation {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        align-self: flex-end;
        width: 100%;
        position: relative;
        display: block;
        z-index: -1;
        height: 0px;
        border: 1px solid black;
        @include m {
            display: none;
        }
    }

    .projectAnnounce {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        @include m {
            //height: calc(100vh - 80px);
            height: calc(var(--vh, 1vh) * 100 - 80px);
            grid-row: 1 / 2;
        }

        .CompTitle {
            width: 100%;
            text-align: center;
            margin: 1% 0;
            font-family: 'ONEDAY';
            font-size: 42px;
            font-weight: 400;
            @include m {
                margin: 5% 0;
            }
        }


        .explanation {
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(51, 51, 51, 0.25);
            border-radius: 10px;
            width: 49%;
            height: 85%;
            padding: 2%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            @include l {
                width: 46%;
                height: 75%;
            }
            @include sl {
                width: 100%;
                height: auto;
                order: 2;
            }
            @include m {
                margin: 5% 0;
            }

            

            p {
                font-family: 'PT Sans', sans-serif;
                white-space: normal;
                word-wrap: break-word;
                font-size: 28px;
                line-height: 37px;
                margin: 16px 0;
                @include l {
                    font-size: 16px;
                }
                @include m {
                    font-size: 13px;
                    line-height: 20px;
                }
            }
        }

        .separation {
            width: 0;
            height: 100%;
            border: 1px solid black;
            margin: 0 1%;
            position: relative;
            left: -40px;
            z-index: -1;
        }

        .bgi {
            border-radius: 10px;
            height: auto;
            width: 42%;
            margin: 1%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            @include sl {
                flex-direction: row;
            }
            @include m {
                margin: 5%;
            }

            img {
                max-height: 387px;
                width: 50%;
                margin: 1%;
                @include l {
                    width: 60%;
                }
                

                @include m {
                    width: 75%;
                    margin-left: 5%;
                    
                }
            }
        }

        .square {
            height: 48px;
            width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fffffa;
            border-radius: 10px;
            margin: 1%;

            span {
                transform: rotate(-90deg);
            }

            @include sl {
                order: 3;
            }
            
            
        }

        .jumpTo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 5px 10px rgba(77, 77, 77, 0.25);
            text-decoration: none;
            color: black;
            //transform: rotate(-90deg);
            cursor: pointer;
            //animation: scale 850ms infinite;

            @include sl {
                margin: 0 0 10% 0;
                transform: rotate(0);
            }
        }
    }

}
