$xxl : 1800px;

@mixin xxl {
    @media screen and (max-width: $xxl) {
        @content
    }
}

$xl : 1450px;

@mixin xl {
    @media screen and (max-width: $xl) {
        @content
    }
}

$l : 1200px;

@mixin l {
    @media screen and (max-width: $l) {
        @content
    }
}

$sxl : 1150px;

@mixin sxl {
    @media screen and (max-width: $sxl) {
        @content
    }
}

$sl : 1000px;

@mixin sl {
    @media screen and (max-width: $sl) {
        @content
    }
}

$sm : 750px;

@mixin sm {
    @media screen and (max-width: $sm) {
        @content
    }
}

$m : 560px;
@mixin m {
    @media screen and (max-width: $m) {
        @content
    }
}